<div class="container">
  <h5 class="d-flex justify-content-center">Angular 13</h5>
<h5 class="d-flex justify-content-center">Employee Management Portal</h5>

<nav class="navbar navbar-expand-sm bg-light navbar-dart">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button routerLink="department"  class="btn m-1 btn-light btn-outline-primary" >Department</button>
    </li>
    <li class="nav-item">
      <button routerLink="employee"  class="m-1 btn btn-light btn-outline-primary" >Employee</button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
</div>